<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Warzone Stat Attack</title>
    <meta name="description" content="Poning noobs with them dank stats">
    <meta name="lilindian14" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--Bootstrap call-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="../styles/style.css">


</head>

<body>

    <h1>Hello World</h1>

    <button type="button" class="btn btn-outline-success">We're in bois</button>

    
    <p id="statsJSON"></p>






    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>




    <script src="../app/index.js"></script>
</body>

</html>